@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(#00334D, #57B6E6, #0088CC, #2F444F, #006799)
}

main{
    background-color: white;
    width: 600px;
    padding: 10px;
    margin: auto;
    border-radius: 20px;
    box-shadow: 5px 5px 15px #01293c;
}

h1{
    color: #0088CC;
    text-align: center;
    text-shadow: 1px 1px 2px #12b1c996;
}
h2{
    color: #57B6E6;
}
p{

    font: italic bolder 1em 'work Sans', sans-serif;
    /* shorthand font 
    for-style -> font-weight -> font-size -> font-family

    text-align: justify;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
    font-weight: 600;*/

    /*Medidas absolutas - cm. mm, in, px, pt, pc
    
    Medidas Relativas - em, ex, rem, vh, vw*/
}